.button {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  color: $white;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $accent;

  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  &:focus,
  &:hover {
    background-color: $accent-hover;
  }

  &--main-block {
    justify-content: flex-start;
    width: 340px;
    background-image: url('../../img/arrow-button.svg');
    background-repeat: no-repeat;
    background-position: right 40px center;

    @media (max-width: $tablet-width) {
      width: 250px;
    }

    @media (max-width: $mobile-width) {
      width: 288px;
    }
  }
}
