.contact {
  display: flex;
  align-items: center;
  color: $true-dark;
  font-size: 18px;
  line-height: 32px;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:hover .contact__icon,
  &:focus .contact__icon {
    stroke: $accent;
  }

  &--footer {
    margin-bottom: 19px;
    color: $accent;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    &:focus,
    &:hover {
      color: $accent-hover;
    }

    &:focus,
    &:hover .contact__icon {
      stroke: $accent-hover;
      fill: $accent-hover;
    }
  }

  &--footer-phone {
    font-size: 16px;
    line-height: 32px;
  }
}

.contact__icon {
  stroke: $true-dark;

  &--footer {
    margin-right: 15px;
    stroke: $footer-decor;
    fill: $footer-decor;
  }
}


.contact--header {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
