.form {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: $accent;

  &--popup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}
.form__label {
  position: relative;
  width: 288px;
  margin: 0 auto;
}

.form__input {
  font-family: inherit;
  width: 269px;
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding-left: 17px;
  padding-right: 26px;
  font-size: 14px;
  line-height: 17px;
  color: $true-dark;
  border-radius: 0;
  border: 1px solid rgba($dark, 0.3);

  &--phone {
    background-image: url('../img/icon-required.svg');
    background-repeat: no-repeat;
    background-position: 15px 7px;
  }


  &:invalid {
    border-color: $accent;
    outline: hidden;
  }

  &:focus {
    outline: none;
    border: 1px solid $dark;
  }

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-right: 0;
    padding-left: 10px;
  }

  &:invalid ~ .form__invalid-message {
    display: block;
  }
}

.form__input::placeholder {
  color: inherit;
}

.form__invalid-message {
  position: absolute;
  display: none;
  top: -35px;
  left: 10px;

  @media (max-width: $mobile-width) {
    top: -18px;
  }
}

.form__button {
  display: flex;
  align-items: center;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}
