.next-trip {
  box-sizing: border-box;
  padding-right: 39px;
  width: 398px;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.next-trip__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.next-trip__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    width: 50%;
    text-align: center;
  }
}

.next-trip__item {
  min-width: 95px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba($true-dark, 0.5);
}
