.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight:  400;
  color: $true-dark;
  background-color: $white;
}


