.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 99px;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: none;
    min-height: 50px;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 20px rgba($black, 0.1);
  }
}

.no-js .page-header__wrapper {
  @media (max-width: $tablet-width) {
  flex-direction: column;
}
}

.page-header__logo {
  width: 57px;
  height: 22px;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 44px;
    height: 17px;
    margin-left: 21px;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}


.page-header__contact {
  display: flex;
  align-items: center;
  margin-right: 14px;
  padding-top: 6px;
  color: $true-dark;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:hover .page-header__contact-icon,
  &:focus .page-header__contact-icon {
    stroke: $accent;
  }
}

.page-header__contact-icon {
  stroke:  $true-dark;;
  margin-right: 10px;
}
