.page-footer {
  display: flex;
  justify-content: space-between;
min-width: 1160px;
  padding-top: 11px;
  padding-bottom: 75px;

  @media (max-width: 1070px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__item {
  position: relative;

  &--contacts {
    padding-right: 46px;

    @media (max-width: $tablet-width) {
      padding-right: 0;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      border-top: 1px solid $footer-decor;
    }
  }

  &--corporate {
    max-width: 320px;
    padding-left: 45px;

    @media (max-width: 1070px) {
      text-align: center;
      max-width: none;
      width: 100%;
      margin-top: 20px;
      padding: 0;
      padding-top: 30px;
      border-top: 1px solid $footer-decor;
    }
  }

  @media (min-width: 1071px) {
    &:nth-child(-n + 2)::after {
      position: absolute;
      content: '';
      right: 4px;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 189px;
      background-color: $footer-decor;
    }
  }

  @media (min-width: $tablet-only) {
    &:nth-child(1)::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      width: 1px;
      height: 189px;
      background-color: $footer-decor;
    }
  }
}

.page-footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $true-dark;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.page-footer__contact {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  color: $accent;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    margin: 0 auto;
  }

  &--phone {
    font-size: 16px;
    line-height: 32px;
  }
}

.page-footer__contact-icon {
  margin-right: 16px;
  stroke: $footer-decor;
  fill: $footer-decor;

  &--phone {
    margin-right: 10px;
  }
}

.page-footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba($true-dark, 0.5);

  @media (max-width: $tablet-width) {
    max-width: 726px;
    margin: 0 auto;
  }
}
