.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  max-width: 1159px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 39px;
  padding-bottom: 38px;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.page-header__logo {
  margin-right: auto;

  @media (max-width: $tablet-width) {
    margin-left: 21px;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}
