.page-footer {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1159px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 75px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    width: auto;
    max-width: none;
    margin-left: 21px;
    margin-right: 21px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__item {
  position: relative;

  &--contacts {
    padding-right: 33px;
    padding-left: 33px;
  }

  &--corporate {
    box-sizing: border-box;
    max-width: 370px;
    padding-left: 49px;

    @media (max-width: $tablet-width) {
      text-align: center;
      max-width: none;
      width: 100%;
      margin-top: 20px;
      padding: 0;
      padding-top: 30px;
      border-top: 1px solid $footer-decor;
    }
  }

  @media (min-width: $desktop-only) {
    &:nth-child(-n + 2)::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 189px;
      background-color: $footer-decor;
    }
  }

  @media (min-width: $tablet-only) {
    &:nth-child(1)::after {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      width: 1px;
      height: 189px;
      background-color: $footer-decor;
    }
  }
}

.page-footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $true-dark;
}

.page-footer__contact {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  color: $accent;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;

  @media (max-width: $mobile-width) {
    justify-content: center;
  }

  &--phone {
    font-size: 16px;
    line-height: 32px;
  }
}

.page-footer__contact-icon {
  margin-right: 15px;
  stroke: $footer-decor;
  fill: $footer-decor;
}

.page-footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba($true-dark, 0.5);

  @media (max-width: $tablet-width) {
    max-width: 726px;
    margin: 0 auto;
  }
}
