.price {
  display: flex;
  margin-bottom: 138px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 124px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.price__info {
  order: 1;
  width: 299px;
  padding-top: 112px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 27px;
    padding-top: 108px;
    text-align: center;
    order: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 35px;
    margin-bottom: 38px;
  }
}

.price__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 19px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $dark;

  @media (min-width: $desktop-only) {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 175px;
      height: 3px;
      background-color: $accent;
    }
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    margin-bottom: 13px;
  }
}

.price__description {
  margin: 0;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 27px;
  color: rgba($dark, 0.7);

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.price__contact-text {
  text-align: center;
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $true-dark;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

.price__contact {
  display: flex;
  align-items: center;
  color: $black;
  font-size: 20px;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    color: $accent;
    font-size: 18px;
    line-height: 32px;
  }
}

.price__contact-icon {
  stroke: $accent;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.price__list {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 667px;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    flex-direction: column;
  }
}

.price__item {
  margin-right: 28px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}
