$white: #ffffff;
$dark: #2c2e3f;
$true-dark: #141517;
$black: #000000;
$accent: #fe7865;
$accent-hover: #f17d4b;
$menu-item-background: #fBf8f8;
$footer-decor: #d7d9df;
$footer-text: #8a8a8b;
$form-box-shadow: #293642;
$success-text: #48494d;
$main-block-background: #427090;
$desktop-only: 1024px;
$tablet-width: 1023px;
$tablet-only: 768px;
$mobile-width: 767px;
$mobile-width-only: 76px;
